{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.username.label_tag }}
              {{ form.username }}
              {% if form.username.errors %}
                <div class="invalid-feedback">{{ form.username.errors }}</div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.password.label_tag }}
              {{ form.password }}
              {% if form.password.errors %}
                <div class="invalid-feedback">{{ form.password.errors }}</div>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
        </div>
      </div>
      <div class="mt-2 text-center">
        <p>Don't have an account? <a href="{% url 'bookings:signup' %}">Sign up</a></p>
      </div>
    </div>
  </div>
{% endblock %}
